
.header {
  display: flex;
  align-items: center;
  margin: 50px 0;
  height: 76px;
}

.header-logo {
  width: 300px;
  overflow: hidden;
}

@media (max-width: 750px) {
  .header {
    margin: 30px;
    justify-content: center;
    align-items: center;
  }

  .header-logo {
    width: 250px;
  }
}